.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .row {
    margin-bottom: 20px;
}

.login .usuario, .login .senha {
    display: flex;
    flex-direction: column;
}
